.table {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.tableItem {
  padding: 6px 0;
  margin: 5px;
  flex: 1 1 auto;
  font-size: 0.9rem;
  @apply bg-slate-50 hover:bg-slate-100 shadow hover:shadow-lg border;
}
