.form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input {
  flex-grow: 1;
  margin: 0 5px;
  font-size: 1.4rem;
  @apply rounded border-2 border-slate-300 p-1;
}

.button {
  flex-shrink: 0;
  width: auto;
  font-size: 1.1rem;
  @apply bg-slate-50 p-1 border;
}

.button:not([disabled]) {
  @apply shadow-lg shadow-blue-500/50 hover:shadow-blue-800/50 p-1 border;
}

.container {
  margin-top: 20px;
}

.equations {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
