.table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
  margin: 10px 0;
  width: 100%;
}

.element {
  padding: 5px;
  @apply border rounded-md hover:border-neutral-500 hover:rounded-lg hover:shadow-lg active:ring-2 focus:ring-blue-600 focus:ring-opacity-50;
}
