header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.5rem;
}

.link {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.logo {
  font-size: 1.7rem;
  font-weight: 700;
}
